.loading-subpack {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  margin-top: 10px;
  color: $color-primary;
  animation: fade 1.45s;
  animation-iteration-count: infinite;
}

.subtitle {
  font-size: 18px;
  color: $color-primary;
  opacity: 0.8;
  animation: fade 1.5s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}