.box{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.title{
  width: 1070px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.tip{
  color: black;
}
.dir{
  margin-top: 20px;
  font-size: small;
  color: rgb(163, 163, 163);
}