.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.link{
  margin-top: 20px;
  :hover{
    color: skyblue;
  }
  h1{
    color: rgb(149, 149, 149);
  }
}