.box{
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: flex-end;
}
.span{
  font-size: 16px;
  color: rgb(92, 92, 92);
  margin-left: 7px;
}
.hover{
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  margin-bottom: -12px;
}
.item{
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 0 -17px;
  border-bottom: 1px solid rgb(235, 235, 235);
  cursor: pointer;
  background-color: $color-text-light;
  transition: 0.3s;
  &:hover {
    background-color: $color-background-lighter;
  }
}